@mixin pcSmTitle { //小標
    font-size: $pcFontH3;
    font-family: $font;
    font-weight: 700;
    line-height: 150%;
    @media (width <= 768px) {
      //ph尺寸
        font-size: $phFontH3;
    }
}
@mixin pcInnerText { //內文
    font-size: $pcFontH4;
    font-family: $font;
    font-weight: 500;
    line-height: 150%;
    @media (width <= 768px) {
      //ph尺寸
        font-size: $phFontH4;
        line-height: 180%;
    }
}
@mixin pcMarkText {  //註解
    font-size: $pcFontH5;
    font-family: $font;
    font-weight: 500;
    line-height: 150%;
    @media (width <= 768px) {
      //ph尺寸
        font-size: $phFontH5;
    }
}
.charts{
    @include pcInnerText;
    span, h2, caption{ @include pcSmTitle; }
    .chartsHead{
        div>span:first-of-type{ @include pcInnerText; }
    }
}
.staffArea .charts .chartsHead{
    height: 80px; //為了蓋掉舊框架
}
.chartsHead, .chartsBody{
    section{
        padding: 15px;
    }
}
.chartsHead, .chartsBody section{
    display: flex;
    justify-content: space-between;
}
.chartsHead{
    p{
        text-align: right;
        @include pcMarkText;
    }
    section{
        cursor: pointer;
        width: 100%;
        background-color: $inputColor;
        border: 1px solid #e8eaec;
    }
    section.click{
        background-color: $bgColorWhite;
        border-bottom: none;
    }
    section+section{
        border-left: 1px solid #e8eaec;
    }
}
.staffArea .charts .chartsBody{
    height: max-content; //為了蓋掉舊框架
}
.chartsBody{
    border: 1px solid #e8eaec;
    border-top: none;

    section{gap: 3%;}
    h2{padding: 8px;}
    table{
        width: 47%;
        height: max-content;
        span{
            @include pcInnerText;
            font-weight: 700;
        }
    }
    table *{
        text-align: right;
        vertical-align: middle;
        width: max-content;
    }
    caption{ margin-bottom: 15px;}
    tr{
        height: 40px;
        padding: 8px;
        border-bottom: 1px solid #e8eaec;
    }
    thead tr, tbody tr:nth-of-type(2n){
        background-color: #f8f8f9;
    }
    thead th{
        font-weight: 400;
        @include pcMarkText;
    }
    th:first-of-type{
        padding-inline: 8px;
        text-align: left;
        width: 87px;
        font-weight: 400;
    }
    td{ padding-right: 8px; }
    tbody *{
        vertical-align: bottom;
    }
    thead th:not(:first-of-type), td{
        padding-right: 8px;
    }
    td, thead th:not(:first-of-type)thead span{
        @include pcMarkText;
    }

    .option0{ color: $primaryColorGreen;}
    .option1{ color: $secColorblue; }
    .option2{ color: $primaryColorYellow; }
    .option3{ color: $secColorOrange; }
    .option4{ color: $inputHintColor; }
    .option5{ color: $mainTextColor; }
    canvas{
        min-width: 40%;
        width: 600px;
        height: 300px;
        color: #3f3f3f;
    }
}