.staffArea {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  .staffForm {
    position: relative;
    // margin-right: 150px;
    right: 6vw;
    width: 70%;
    height: 90%;

    .titleSearch {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 10%;
      h2 {
        color: $primaryColorGreen;
      }
      .searchArea {
        display: flex;
        height: 30px;
        gap: 15px;
        .search {
          cursor: pointer;
          border: transparent;
          background-color: #fff;
        }
        .inputArea {
          display: flex;
          input {
            height: 100%;
            border: transparent;
            background-color: $inputColor;
            padding-inline: 8px;
            &::placeholder {
              font-size: $pcFontH5;
              font-family: $font;
              font-weight: 500;
              line-height: 150%;
            }
            &:focus {
              outline: none;
            }
          }
          .scope {
            border: transparent;
            display: flex;
            align-items: center;
          }
        }
      }
    }
    .formArea {
      width: 100%;
      height: 80%;
      overflow-x: auto;
      overflow-y: auto;
      &::-webkit-scrollbar {
        height: 5px;
        width: 5px;
      }
      &::-webkit-scrollbar-track {
        overflow: hidden;
      }
      &::-webkit-scrollbar-thumb {
        background-color: #ccc;
        border-radius: 20px;
        width: 5px;
      }
      &::-webkit-scrollbar:horizontal {
        height: 5px;
        width: 100%;
      }
      &::-webkit-scrollbar-track:horizontal {
        overflow: hidden;
      }
      &::-webkit-scrollbar-thumb:horizontal {
        background-color: blue;
        border-radius: 20px;
        width: 5px;
      }
      .custom-table {
        .ivu-table-cell {
          font-size: $pcFontH5;
          font-family: $font;
          font-weight: 500;
          line-height: 150%;
          color: $mainTextColor;
        }
      }
      .formTable {
        width: 100%;
        margin: 15px 0;
        thead {
          width: 30px;
          th {
            text-align: left;
            padding: 20px 0;
            border-bottom: 2px solid black;
          }
        }
        tr {
          width: 100%;
          td {
            text-align: left;
            padding-top: 10px;
            img {
              width: 20px;
              height: 20px;
              margin-right: 5px;
            }
          }
        }
      }
    }
    .add {
      width: 60px;
      display: flex;
      justify-content: flex-end;
      align-content: center;
      position: absolute;
      right: 0px;
      bottom: 20px;

      img {
        bottom: 5px;
        left: 0;
        width: 18px;
        height: 18px;
      }
    }
  }
}
